{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"semi": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
