* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

:root {
	--ff-body: 'Outfit Variable', sans-serif;
	--fw-bold: 700;
	--fw-regular: 400;

	--fs-h1: 2.402rem;
	--fs-h2: 2.202rem;
	--fs-h3: 2.024rem;
	--fs-h4: 1.866rem;
	--fs-h5: 1.725rem;
	--fs-regular: 1.6rem;
	--fs-small: 1.2rem;

	/* Colors */
	--black-1: #161616;
	--black-2: #0a0f0d;
	--black-3: #080c0b;

	--gray-1: #f4f5f5;
	--gray-2: #eaecec;
	--gray-3: #dfdfdf;

	--red-1: #f66451;
	--red-2: #f5533d;
	--red-3: #f4412a;

	--blue-1: #8591ff;
	--blue-2: #707eff;
	--blue-3: #5c6cff;

	--primary: var(--black-3);
	--secondary: var(--gray-1);
	--accent: var(--blue-3);
	--success: var(--green-2);
	--bg-ff: var(--gray-1);
	--bg-bg: var(--gray-2);

	--box-shadow: var(--gray-2) 0px 6px 24px 0px, var(--gray-2) 0px 0px 0px 1px;

	--container-width: min(90%, 800px);
	--margin: 24px;
	--padding: 24px;
	--brad: 4px;
}

html[data-scheme='dark'] {
	--primary: var(--gray-3);
	--secondary: var(--gray-1);
	--success: var(--green-1);
	--bg-ff: var(--black-1);
	--bg-bg: var(--black-3);
	--box-shadow: --box-shadow: var(--black-3) 0px 6px 24px 0px, var(--black-3) 0px 0px 0px 1px;
}

@media (max-width: 800px) {
	:root {
		/* More readable mobile sizes */
		--fs-h1: 2rem;
		--fs-h2: 1.8rem;
		--fs-h3: 1.6rem;
		--fs-h4: 1.4rem;
		--fs-h5: 1.3rem;
		--fs-regular: 1.4rem;
		--fs-small: 1.2rem;

		/* Adjusted spacing */
		--margin: 16px;
		--padding: 16px;
	}
}

/* Typography */

body {
	background-color: var(--bg-bg);
	color: var(--primary);
	font-family: var(--ff-body);
	font-weight: var(--fw-regular);
	font-size: var(--fs-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-head);
	font-weight: var(--fw-bold);
	position: relative;
	width: fit-content;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

h5 {
	font-size: var(--fs-h5);
}

small {
	font-size: var(--fs-small);
}

p {
	font-size: var(--fs-regular);
	margin: 0;
}

a {
	color: var(--primary);
	text-decoration: none;
	transition: color ease 0.25s;
}

a:focus,
a:hover {
	color: var(--accent);
}

a:visited {
	color: var(--blue-1);
}
